.df-page-content{
  @include select(none);//fixes https://github.com/deepak-ghimire/dearviewer/issues/438
}
.df-text-content, .df-auto-link-content {
  line-height: 1;
  transform-origin: top left;
}
.df-auto-link-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}
[data-main-rotation="90"]{
  transform:rotate(90deg) translateY(-100%);
}
[data-main-rotation="180"]{
  transform:rotate(180deg) translate(-100%, -100%);
}
[data-main-rotation="270"]{
  transform:rotate(270deg) translateX(-100%);
}

.df-text-content span,
.df-text-content br,
.df-auto-link-content span{
  color: transparent !important;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}
.df-auto-link-content > span{
  overflow: hidden; //Fixes https://github.com/deepak-ghimire/dearviewer/issues/135
}
.df-text-content .highlight {
  margin: -1px;
  padding: 1px;
  background-color: rgba(180, 0, 170, 1);
  border-radius: 4px;
}

.df-text-content .highlight.appended {
  position: initial;
}

.df-text-content .highlight.begin {
  border-radius: 4px 0 0 4px;
}

.df-text-content .highlight.end {
  border-radius: 0 4px 4px 0;
}

.df-text-content .highlight.middle {
  border-radius: 0;
}

.df-text-content .highlight.selected {
  background-color: rgba(0, 100, 0, 1);
}

.df-text-content ::-moz-selection {
  //background: rgba(0, 0, 255, 1); //fixes https://github.com/deepak-ghimire/dearviewer/issues/438
}

.df-text-content ::selection {
  //background: rgba(0, 0, 255, 1); //fixes https://github.com/deepak-ghimire/dearviewer/issues/438
}

.df-text-content .endOfContent {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.df-text-content .endOfContent.active {
  top: 0;
}
