$color-primary: #009ddc;
$color-primary-active: #0088bd;
$color-secondary: orange;
$color-secondary-active: #ff8c00;

$color-alert: #ff4534;
$color-alert-dark: red;

$color-seperator: #eee;
$color-seperator2: #ddd;
$color-seperator3: #bbb;

$color-text: #444;
$color-text-mid: #777;
$color-text-light: #aaa;
